<h1><a href="https://georgestrakhov.com" style="text-decoration: none; color: inherit;">George Strakhov</a>'s Telescopic Essays</h1>


<div class="list essays-list">
{{#each essays}}
  <div class="list-item{{#if this.isAIGenerated}} ai-essay{{/if}}">
    <a href="{{this.slug}}/">{{this.title}}</a> 
    [{{this.timestamp}}]
    {{#if this.isAIGenerated}}
      <span class="ai-generated-tag"> ~ written by a well-educated robot from 404 page / 
          <button id="toggle-ai">&nbsp;(hide all robo-written)</button>
      </span>
    {{/if}}
  </div>
{{/each}}
</div>

<hr />
<h4><i>Disclaimer: I don't necessarily agree with everything I write.</i></h4>